/* todo/static/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav .nav-link {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

nav .nav-link:hover {
    color: #575757;
    font-weight: bold;
}

header {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

header .intro h1 {
    margin: 0;
    font-size: 2em;
    color: #333;
}

header .intro p {
    font-size: 1.2em;
    color: #666;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
